body {
    client-download-guide {
        display: none;
    }

    #body {
        height: calc(100% - 59px);
    }

    #layout-main {
        flex: 0 1 100%;
        width: 100%;
        height: 100%;
    }

    .chat-item.responsive-box .content-area .msg-bubble-box .msg-bubble-area .msg-content-wrapper .msg-bubble {
        font-size: 20px !important;
    }
}